<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="imgHeader" slot="start">
      <ion-img (click)="goHome()" src="assets/icon/duocLogo.png"></ion-img>
    </div>
    <ion-button color="warning" class="logout" slot="end" (click)="logOut()" id="btnLogout"> <ion-icon
        name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-img class="img" src="assets/icon/scanQR.png"></ion-img>
      </ion-card>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="border">
        <ion-icon (click)="scan()" name="camera-outline" id="iconCamera"></ion-icon>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>