<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>qrScan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-img class="img" src="assets/icon/scanQR.png"></ion-img>
      </ion-card>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="border">
        <ion-icon (click)="scanQR()" name="camera-outline"></ion-icon>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>