<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="imgHeader" slot="start">
      <ion-img (click)="goHome()" src="assets/icon/duocLogo.png"></ion-img>
    </div>
    <ion-button color="warning" class="logout" slot="end" (click)="logOut()" id="btnLogout"> <ion-icon
        name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <div class="profilePic">
        <div class="container">
          <ion-img src="assets/icon/profilePic.png" class="image"></ion-img>
        </div>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Perfil de Usuario</ion-card-title>
          <br>
        </ion-card-header>

        <ion-card-content *ngFor="let i of usuario">
          <ion-label>{{i.nombre}}</ion-label>
          <hr>
          <ion-label>{{i.email}}</ion-label>
          <hr>
          <ion-label>Tipo de usuario: </ion-label><ion-label>Alumno</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button>
        Editar perfil
      </ion-button>
    </ion-row>

  </ion-grid>

</ion-content>