<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="imgHeader" slot="start">
      <ion-img (click)="goHome()" src="assets/icon/duocLogo.png"></ion-img>
    </div>
    <ion-button color="warning" class="logout" slot="end" (click)="logOut()" id="btnLogout"> <ion-icon
        name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<h1 *ngFor="let i of usuario">Bienvenido/a {{i.email}}</h1>
  <div class="container">
    <div class="area1" (click)="scanQR()">
      <ion-img src="assets/icon/scanQR.png"></ion-img>
      <div class="text"> SCANEAR QR</div>
    </div>
    <div class="bloque">
      <div class="area2" (click)="asistencia()">
        <ion-img src="assets/icon/asistencia.jpg"></ion-img>
        <div class="text">ASISTENCIA</div>
      </div>
  
    </div>

    <div class="bloque">
      <div class="area3">
        <ion-img src="assets/icon/duocSede.jpg"></ion-img>
        <div class="text">SEDE</div>
      </div>
    </div>

  </div>

</ion-content>