<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>

<h1 *ngFor="let i of usuario">Bienvenido/a {{i.email}}</h1>
  <div class="container">
    <div class="area1" (click)="scanQR()">
      <ion-img src="assets/icon/scanQR.png"></ion-img>
      <div class="text"> SCANEAR QR</div>
    </div>
    <div class="bloque">
      <div class="area2" (click)="asistencia()">
        <ion-img src="assets/icon/asistencia.jpg"></ion-img>
        <div class="text">ASISTENCIA</div>
      </div>
  
    </div>

    <div class="bloque">
      <div class="area3">
        <ion-img src="assets/icon/duocSede.jpg"></ion-img>
        <div class="text">SEDE</div>
      </div>
    </div>

  </div>

</ion-content>