.imgHeader{
    width: 50%;
    padding-left: 30px;
    padding-bottom: 5px;
}

.logout{
    padding-right: 10px;
}

ion-card{
    --background: rgba(255,255,255,.8)
}

/*
#F6F4E6 beige
#FDDB3A amarillo
#52575D gris
#41444B gris oscuro

rgb(246, 244, 230)
rgb(253, 219, 58)
rgb(82, 87, 93)
rgb(65, 68, 75)
*/


