<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="imgHeader" slot="start">
      <ion-img src="assets/icon/duocLogo.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Información de QR</ion-card-title>
          <h1>{{dateTime}}</h1>
        </ion-card-header>

        <ion-card-content>
          <ion-col *ngFor="let i of resultQR">
            <ion-row>Asignatura: </ion-row>{{dataQr?.asignatura}}
            <ion-row>Sección: </ion-row>{{dataQr?.seccion}}
            <ion-row>Docente: </ion-row>{{dataQr?.docente}}
            <ion-row>Lección: </ion-row>{{dataQr?.leccion}}
            <ion-row>Hora: </ion-row>{{dataQr?.hora}}
          </ion-col>
          <ion-col>
            <ion-label></ion-label>
          </ion-col>
        </ion-card-content>

        <ion-button (click)="qrConfirm()" color="warning">
          Aceptar
        </ion-button>
        <ion-button (click)="cerrar()" color="warning" fill="outline">
          Cancelar
        </ion-button>

      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>