<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="imgHeader" slot="start">
      <ion-img src="assets/icon/duocLogo.png"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Información de QR</ion-card-title>
          <h1>{{dateTime}}</h1>
        </ion-card-header>

        <ion-card-content>
          <ion-col>
            <ion-row>Asignatura: {{dataAsistencia.asignatura}}</ion-row>
            <ion-row>Docente: {{dataAsistencia.docente}}</ion-row>
            <ion-row>Fecha: {{dataAsistencia.fecha}}</ion-row>
            <ion-row>Hora: {{dataAsistencia.hora}}</ion-row>
            <ion-row>Lección: {{dataAsistencia.leccion}}</ion-row>
            <ion-row>Sala: {{dataAsistencia.sala}}</ion-row>
            <ion-row>Sección: {{dataAsistencia.seccion}}</ion-row>
          </ion-col>
        </ion-card-content>

        <ion-button (click)="qrConfirm()" color="warning">
          Aceptar
        </ion-button>
        <ion-button (click)="cerrar()" color="warning" fill="outline">
          Cancelar
        </ion-button>

      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>