<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="imgHeader" slot="start">
      <ion-img (click)="goHome()" src="assets/icon/duocLogo.png"></ion-img>
    </div>
    <ion-button color="warning" class="logout" slot="end" (click)="logOut()" id="btnLogout"> <ion-icon
        name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-card>

        <ion-card-content>
          <ion-row class="padding">
            <ion-label>Programación de aplicaciones moviles</ion-label>
            <ion-progress-bar [value]="clasesPorcentaje"></ion-progress-bar>
          </ion-row>
          
          <ion-row class="padding">
            <ion-label>Calidad de software</ion-label>
            <ion-progress-bar [value]=.83></ion-progress-bar>
          </ion-row>

          <ion-row class="padding">
            <ion-label>Arquitectura de software</ion-label>
            <ion-progress-bar [value]=.56></ion-progress-bar>
          </ion-row>
            
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
