/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'ComfortaaRegular';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/ComfortaaRegular.ttf');
}

@font-face {
    font-family: 'ComfortaaBold';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/ComfortaaBold.ttf');
}

@font-face {
    font-family: 'ComfortaaLight';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/ComfortaaLight.ttf');
  }

#colores{
    color:
    #f6f4e6
    #fddb3a
    rgb(82, 87, 93)
    rgb(36, 38, 41)
}

ion-content {
    --background: linear-gradient(to right top, #fbffcf, #fbffc2, #faffb5, #faffa8, #faff9a, #fafb94, #fbf68f, #fbf289, #fae88b, #f7df8d, #f3d690, #eece93);
}


*{
    font-family: "ComfortaaRegular";
}

ion-toolbar {
    --background: rgb(36, 38, 41);
}


